


.App {
  text-align: center;


}

.imgBG{

  background-image: url(./1234.png) ;
  position: absolute;
  top: 80px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;


}


a:visited {color:#ffffff;} 
a:hover, a:active {
  background-color: rgba(255, 255, 255, 0.322);
 
}
form{
  
  align-items:center;
  justify-content:center;
  flex-direction: column;

  
}

.todo{
  display:flex;
  align-items:center;
  flex-direction: column;
  border-radius: 25px;
  padding: 10px 10px 360px 10px;
    margin: 30px 800px 0px 100px;
   
   
}

nav{
min-height:10vh;
  background-color:rgb(0, 79, 158);
  color: white;
  margin-top: 0px;
}

.nav-links{
  
  display:flex;
  justify-content:space-around;
 padding-top: 20px;
  list-style: none;
  font-weight: bold;
}

button{
  
  border-radius: 8px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #13308d;
  opacity: 0.6;
  transition-duration: 0.4s;
}

i:hover,button:hover {
  background-color:rgb(37, 37, 184); /* Green */
  color: white;
  border-radius: 8px;
}

.checked{
  text-decoration:line-through;
  font-weight: bold;
}

label{
   
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
  font-weight: bold;
  
  
  
}


.loginImg1{ height: 200px;
  width: 200px;
  border-radius: 80%;
  /* opacity: 0; */
}
.insideDiv{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  border-radius: 25px;
  
    margin: 30px 800px 0px 100px;
    background-color:rgba(255, 255, 255, 0.3);
    
}
.insideDivSignup{
  display:flex;
  align-items:flex-start;
  flex-direction: column;
  border-radius: 25px;
  
    margin: 30px 800px 0px 100px;
    background-color:rgba(255, 255, 255, 0.3);
   
}



.loginInput{
  height:40px;
 
  border-radius: 10px;
  border: 3px solid #555;
  margin:10px 10px;
  width :60%;
  
} 
.signUpInput{
  height:40px;
  
  border-radius: 10px;
  border: 3px solid #555;
  width :80%;
  margin:10px 10px;
  
  
}
 .ToDoinput{
  height:20px;
  border: 2px solid #13308d;
  border-radius: 4px;
  border: 3px solid #555;
  width :70%;
} 


p{
  font-size: 20px;
  font-weight: bold;
width:30%;

  background-color:rgba(255, 255, 255, 0.4);
  padding: 10px 10px 36px 10px;
    margin: 150px 0px 0px 100px;
  border-radius: 50px;
 
}
.nav-links-li{list-style: none;
  font-weight: bold;
 
 
}

.todolist-ul{
  display:flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 0;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 150%;
  
  border-radius: 10px;
  
  

}
.todolist-il{
  display:flex;
 justify-content:start;
  font-size: 15px;
  
  list-style: none;
  
  
}

  




